
img {
  width: 670px;
  position: relative;
}

#controller {
  width: 700px;
}

#up {
  float: right;
  position: fixed;
  top: 104px;
  left: 120px;
  /*background-color: rgba(255, 0, 0, 0);*/
  background-color: red;
  width: 35px;
  height: 35px;
  display: block;
  z-index:3;
}

#down {
  float: right;
  position: fixed;
  top: 182px;
  left: 120px;
  /*background-color: rgba(255, 0, 0, 0);*/
  background-color: red;
  width: 35px;
  height: 35px;
  display: block;
  z-index:3;
}

#left {
  float: right;
  position: fixed;
  top: 143px;
  left: 82px;
  /*background-color: rgba(255, 0, 0, 0);*/
  background-color: red;
  width: 35px;
  height: 35px;
  display: block;
  z-index:3;
}

#right {
  float: right;
  position: fixed;
  top: 143px;
  left: 160px;
  /*background-color: rgba(255, 0, 0, 0);*/
  background-color: red;
  width: 35px;
  height: 35px;
  display: block;
  z-index:3;
}

#green {
  float: right;
  position: fixed;
  top: 134px;
  left: 460px;
  /*background-color: rgba(255, 0, 0, 0);*/
  background-color: red;
  width: 46px;
  height: 46px;
  display: block;
  z-index:3;
  border-radius: 50%;
}

#blue {
  float: right;
  position: fixed;
  top: 79px;
  left: 513px;
  /*background-color: rgba(255, 0, 0, 0);*/
  background-color: red;
  width: 46px;
  height: 46px;
  display: block;
  z-index:3;
  border-radius: 50%;
}

#red {
  float: right;
  position: fixed;
  top: 140px;
  left: 580px;
  /*background-color: rgba(255, 0, 0, 0);*/
  background-color: red;
  width: 46px;
  height: 46px;
  display: block;
  z-index:3;
  border-radius: 50%;
}

#yellow {
  float: right;
  position: fixed;
  top: 194px;
  left: 524px;
  /*background-color: rgba(255, 0, 0, 0);*/
  background-color: red;
  width: 46px;
  height: 46px;
  display: block;
  z-index:3;
  border-radius: 50%;
}

/*@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  #controller {
  width: 00px;
  }
}*/